VITE_SUPABASE_URL=https://sxphijrofljxkccdwtub.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4cGhpanJvZmxqeGtjY2R3dHViIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1MDk1NTksImV4cCI6MjA5MDA4NTU1OX0.8e-qbhqv6UgCZ46Yx7sa9FWGCdT50q27i4kAiMtCpxc
DATABASE_URL=postgresql://postgres.sxphijrofljxkccdwtub:YOUR_PASSWORD_HERE@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres